.navbar {
  border-bottom: 1px solid black;
  width: 100%;
  margin-bottom: 50px;
  &__container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    &__img {
      width: 200px;
      height: 50px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
